body{
    background-color: pink;
    margin:0;
    color: maroon;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
/*this makes the setup of the website, chooses styling*/
.container {
    background-color: antiquewhite;
    padding: 3rem;
    border-radius: 1rem;
    border: 2px solid maroon;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/*this makes a block with all the selectors inside*/
.form{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1rem;
    column-gap: 3rem;
    justify-content: center;
    align-items: center;
}
/*this makes the selectors a grid so it looks neat */
.title{
    margin:0;
    text-align: center;
}
label{
    font-weight: bold;
}
.x{
    display:flex;
    align-items: center;
}
/*this makes the slider and char amount on the same line*/
.y{
    width: 3rem;
}
/*makes the box with numbers big enough so the number shows 3 digits*/
.pw{
    background-color: pink;
    color: maroon;
    padding: 1rem;
    height: 6rem;
    width: 350px;
    border: 2px solid maroon;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    border-radius: 0.5rem;
}
/*makes pw box and big enough to show 128 char*/
.btn{
    grid-column: span 2;
    background-color: transparent;
    border: 2px solid maroon;
    color: maroon;
    padding: .5rem, 1rem;
    cursor: pointer;
    border-radius: 1rem;
}
.btn:hover{
    background-color:#FFFFFF;
}
/*makes the button span 2 boxes, have it styled, and when u hover it turns white*/